/*---- SIMPLE BG ----*/
/*canvas {*/
/*    background: linear-gradient(#e66465, #9198e5)*/
/*}*/



body {
    background: linear-gradient(to bottom, lightblue, darkslategray, darkblue);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

canvas {
    position: absolute;
    margin-top: 40px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#collision-canvas {
    opacity: 0;
}